ipaddress==1.0.17
mysql-python==1.2.5
numpy==1.12.0
scipy==0.18.1
scikit-learn==0.17
configparser==3.5.0
Flask==0.11.1
ipwhois==0.11
requests==2.10.0
django==1.4
pyshp==1.2
shapely==1.5
IPy==0.81
sympy==0.7.5
geopy==1.11
trparse==0.2.1
cryptography==1.5
paramiko==2.0.2
intervaltree==2.1.0
netaddr==0.7.18
pydotplus==2.0.2 
pydot==1.2.3 
bs4==0.0.1
mechanize==0.2.5
urllib3==1.20
pyOpenSSL==16.2.0
bz2file==0.98
ripe.atlas.sagan==1.2
ripe.atlas.cousteau==1.2
uwsgi==2.0.15
matplotlib==1.5.3
descartes==1.0.2
