<footer class="page-footer">
    <div class="container">
      {% block footer %}
	    <hr>
	    <div class="row-fluid">
		    <div class="span12">
				    <a href="{{ url_for('about_page') }}">About Us</a> |
				    <a href="{{ url_for('about_page') }}">API Access</a> |
				    <a href="{{ url_for('about_page') }}">Source Code</a> |
				    <a href="mailto:passport@ccs.neu.edu">Contact</a>
                    <span class="muted pull-right">&copy; 2017 Northeastern University.</span>
			    </div>
			    <div class="span4">
				    <br/><br/>
			    </div>
		    </div>
	    </div>
      {% endblock %}
    </div>
</footer>
